.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  &__title {
    font-weight: 700;
    a {
      color: #0B132A;
    }
    span {
      font-weight: 800;
    }
  }
}