$color-default: #F53855;

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 30px;
  padding: 30px;
  &__list {
    display: flex;
    li {
      margin-right: 30px;
      a {
        color: #4F5665;
        &:hover {
          color: $color-default;
        }
        &:active {
          color: $color-default;
        }
      }
      &:last-of-type {
        margin: 0;
      }
    }
  }
}