$font-size: 20px;

.body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__img {
    max-width: 56px;
  }
  &__right {
    margin-left: 30px;
    &__count {
      color: #0B132A;
      font-weight: 700;
      font-size: $font-size;
    }
    &__name {
      color: #4F5665;
      margin-top: 5px;
      font-size: 17px;
    }
  }
}